.image-collage img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
  }
  
  .image-collage .image-item:nth-child(1) {
    grid-column: span 2; 
  }
  
  .image-collage .image-item:nth-child(2),
  .image-collage .image-item:nth-child(3) {
    grid-column: span 1;  
  }

  .image-collage.big-bottom .image-item:nth-child(1) {
    order: 3;
}

@media screen and (max-width: 749px) {
    .image-collage.image-column--mobile {
        grid-template-columns: 1fr;
    }
    
    .image-collage.image-column--mobile .image-item,
    .image-collage.big-bottom.image-column--mobile .image-item {
        grid-column: span 1 ;
    }
    .image-collage.big-bottom.image-column--mobile img{
        aspect-ratio: 1/1; 
    }
}