.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}
.newsletter-full_width .newsletter__wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletter-grid.narrow-width { 
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    gap: 20px;
    text-align: left;
    width: 100%;
}
.newsletter-grid.narrow-width .newsletter__subheading.rte p {
    opacity: 0.6;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
}   
.newsletter-grid.narrow-width form#contact_form, .newsletter-grid.narrow-width form#contact_form .newsletter-form__field-wrapper {
    max-width: 100%;
}
.newsletter-grid.narrow-width form#contact_form .field__input {
    background: transparent;
}
.newsletter-grid.narrow-width h2.inline-richtext {
    text-transform: uppercase;
    letter-spacing: 6px;
}
@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
  .newsletter-grid.narrow-width {
    grid-template-columns: 1fr 1fr;
}
.newsletter-grid.narrow-width h2.inline-richtext {
    letter-spacing: 3px;
}
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
